<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.streamoid.PiqitClient"
        version="1.0.0">

    <name>PiqitClient</name>

    <js-module src="www/piqitclient.js" name="com.streamoid.PiqitClient.PiqitClient">
        <clobbers target="piqitclient" />
    </js-module>
    <!-- Android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="widget">
            <feature name="PiqitClient">
                <param name="android-package" value="com.streamoid.PiqitClient" />
            </feature>
        </config-file>
    </platform>
</plugin>